<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ratatoskr</title>

    <script src="{% static 'js/Oak.js' %}"></script>
    <script src="{% static 'js/DataClass.js' %}" type="application/javascript"></script>
</head>
<body>
DataClass
</body>
<script>
    initOak(function(e){
        console.log("oak initialized");
        testCreate();
    });
    function testCreate() {
        var tmp2 = new DataClass();
        tmp2.set("name", "რატი მაჭავარიანი");
        tmp2.set("email", "rmach13@freeuni.edu.ge");
        tmp2.set("isActive", true);
        tmp2.create(function (e) {
            console.log(tmp2);
        });
    }
</script>
</html>